.order_div{
    align-items: center;
    justify-content:center;

}
.summary_table, .summary_tr, .summary_th, .summary_td{
    border: 1px solid black;
    border-collapse: collapse;
}
.order_p_title{
    color:white;
    background-color: rgba(33, 9, 56, 0.836);
    text-transform: capitalize;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.order_p{
    color:rgb(20, 20, 20);
    background-color: white(172, 172, 172);
    text-transform: capitalize;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.order_input{
    background: none;
    padding:10px;
    width: 100%;
    text-align:left;
    border:none;
    margin-top: 3px;
    color:black;
}


::placeholder { 
    color: black;
    opacity: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.order_select{
    background: none;
    padding:10px;
    width: 100%;
    margin-top: 3px;
    border:none;
}

.order_option_default{
   color:gray;
}

option{
    background-color: none;
}

.order_button{
    margin-top: 3px;
    margin-left:3px;
    width:200px;
    margin-right:3px;
    background: none;
    height:50px;
    font-weight: bold;
    font-size: 16px;
    border:none;
    cursor: pointer;
    transition: 0.3s;
    padding:2px;
    margin:0 2px 2px 0;
    border-radius:5px;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    color:#FFFFFF;
    font-weight: 500;
    background-color:#236815;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);

}
.order_button:hover{
    transition: 0.3s;
    background-color: rgba(66, 179, 71, 0.719);
}
.order_div{
    width:250px;
    margin-top:5px;
    margin-left: 20px;
    margin-right:20px;
    height: 410px;
    float: right;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.server_response_p{
    color:white;
    font-size: 14px;
    background-color: red;
    text-align: center;
}
*{
    overflow: hidden;
}

.summary_div{
    margin-left:20px;
    margin-top:5px;

    background-color: rgb(255, 255, 255);
    text-align: center;
    overflow: auto;
    max-height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.summary_table{
    width: 100%;
    margin-bottom: 60px;
}
.summary_td{
    text-align: center;
}
body{
    background-image: url("../Images/leaf_background.jpg");
    background-repeat:round;
}
.content_div{
    margin-top: 60px;
}