.product_table, .product_tr, .product_td{
    border:1px solid black;
    border-collapse: collapse;
    text-align:center;
}

.product_input{
    height:30px;
    width:40px;
}
.product_select{
    height:30px;
}