
.error{
    color:red;
    font-size: 15px;
}
.content_div{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: rgba(219, 219, 219, 0.795);
    height: 280px;
    width:470px;
    text-align: center;
    border-radius: 10px;
}
.outer_div{
    background-color: rgba(2, 2, 2, 0.548);
    width: 100%;
    height: 100%;
}
.register_button{
    display:inline-block;
    border:none;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#727272;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}
.register_button:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.register_input{
    border:none;
    border-bottom: 1px solid black;
    padding:5px;
    text-align: center;
    outline: none;
    font-size: 14px;
    background: none;
    color:black;
    margin-top: 10px;
    text-align: center;
    width: 90%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder{
    color:black;
    font-weight: 200;
}
.login_link{
    text-decoration: none;
    color:black;
    font-size: 14px;
    padding:10px;
}
body{
    overflow: hidden;
    background-image: url("../Images/leaf_background.jpg");
    background-repeat:round;
    font-family: Arial, Times, serif;
    margin:0;
}
